<?xml version="1.0" encoding="UTF-8"?>
<!--************** PROD ****************-->
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property resource="application.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%thread] [%F:%L] %c : %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="FILELOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.catalina.home}/logs/${api.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.catalina.home}/logs/${logback.api.name}_%d{yyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>10000KB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] [%F:%L] %c : %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>


    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${logback.slack.hook}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{ISO8601} [${logback.api.name}] [%class] %-5level : %msg%n</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILELOG"/>
        <appender-ref ref="SLACK"/>
    </root>

</configuration>